.addProduct {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 80px;
  gap: 10px;
}

.addProduct-input{
  width: 475px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: rgb(231, 230, 230);
  outline: none;
  border-right: none;
  border: none;
}

.form__button{
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--main-color);
  padding: 10px 15px;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  width: 100px;
}
